.navbar-toolbar{
    justify-content: space-between;
}

.navbar-items {
    display: inline-flex;
    justify-content: space-evenly;
}

.navbar-item{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
    font-size: large;
}

.navbar-menu-button {
    margin: 0.5rem;
}

a:hover {
    color: #ff8400;
}