<div>
  <h3>Path Finder</h3>
  <div>
    <div class="path-finder-inputs">
      <form class="path-finder-form">
        <mat-form-field class="full-width">
          <mat-label>Rows</mat-label>
          <input matInput type="number" [min]="3" [(ngModel)]="gridProperties.rows" name="rowsInput">
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Columns</mat-label>
          <input matInput type="number" [min]="3" [(ngModel)]="gridProperties.cols" name="colsInput">
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Solution Draw Speed (ms)</mat-label>
          <input matInput type="number" [min]="50" [(ngModel)]="gridProperties.drawSpeed" name="drawSpeedInput">
        </mat-form-field>
        <br />
        <section class="full-width">
          <mat-slide-toggle [checked]="gridProperties.autoDrawSolution">Auto Draw Solution</mat-slide-toggle>
        </section>
        <br />
        <button mat-raised-button class="user-input-reset-btn" color="primary" (click)="solveMaze()">Solve Maze</button>
        <br />
        <br />
        <button mat-raised-button class="user-input-reset-btn" color="accent" (click)="displaySteps()">Display Steps</button>
        <br />
        <br />
        <button mat-raised-button class="user-input-reset-btn" color="warn" (click)="resetDisplaySteps()">Reset Steps</button>
        <br />
        <br />
        <button mat-raised-button class="user-input-reset-btn" color="warn" (click)="resetMaze()">Reset Maze</button>
      </form>
    </div>
    <div class="path-finder-inputs">
      <div>
        <b>Maze Editor</b><br />
        <b>Editing Mode: {{gridProperties.currentMazeEditorBrush !== 'none' ? 'ON' : 'OFF'}}</b><br />
      </div>
      <div>
        Currently Selected:
        <div>
          <div *ngIf="gridProperties.currentMazeEditorBrush !== 'none'" class="sample-cell" [ngClass]="{'starting-cell': gridProperties.currentMazeEditorBrush === 'start', 'finishing-cell': gridProperties.currentMazeEditorBrush === 'finish', 'open-cell': gridProperties.currentMazeEditorBrush === 'open', 'blocked-cell': gridProperties.currentMazeEditorBrush === 'blocked'}"></div>
        </div>
        <div *ngIf="gridProperties.currentMazeEditorBrush === 'none'">None</div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <div>
          Clear Brush
          <div class="sample-cell" (click)="setEditorMazeBrush('none')"></div>
        </div>
        <div>
          Open
          <div class="sample-cell open-cell" (click)="setEditorMazeBrush('open')"></div>
        </div>
        <div>
          Blocked
          <div class="sample-cell blocked-cell" (click)="setEditorMazeBrush('blocked')"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-maze-container" [style.width.rem]="gridProperties.cols" (mousedown)="startDraw($event)" (mouseup)="stopDraw($event)"
    (click)="setStart($event)" (contextmenu)="setDestination($event)">
    <app-path-cell class="grid-maze-cell" *ngFor="let pathCell of gridMaze.grid;" [pathCell]="pathCell" [isDrawing]="gridProperties.isDrawing"
      [currentMazeEditorBrush]="gridProperties.currentMazeEditorBrush" (notifyParent)="getNotification($event)"></app-path-cell>
  </div>
</div>