<div class="path-finder-inputs">
  <form class="path-finder-form">
    <mat-form-field class="full-width">
      <mat-label>Rows</mat-label>
      <input matInput type="number" [min]="3" [value]="gridProperties.rows">
    </mat-form-field>
    <br />
    <mat-form-field class="full-width">
      <mat-label>Columns</mat-label>
      <input matInput type="number" [min]="3" [value]="gridProperties.cols">
    </mat-form-field>
    <br />
    <button mat-raised-button class="user-input-reset-btn" color="primary" (click)="solveMaze()">Solve Maze</button>
  </form>
</div>
<br />
<div class="grid-maze-container">
  <app-path-finder-cell class="grid-maze-cell" *ngFor="let gridCell of gridMaze.grid" [gridCell]="gridCell"></app-path-finder-cell>
</div>