.path-finder-inputs{
  border: 1px solid black;
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
}

.grid-maze-container{
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 10rem;
}

.grid-maze-cell{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: red;
  border: 1px solid black;
}