<div class="playground-container" (keypress)="userKeyPress($event)">
  <canvas id="myCanvas" #glCanvas class="canvas-renderer"></canvas>
  <div class="user-input">
    <button mat-raised-button class="user-input-reset-btn" color="primary" (click)="resetUserInput()">Reset</button>
    <mat-list>
      <mat-list-item>
        <h2 class="example-h2">X:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="this.width" [min]="0" [step]="1" [thumb-label]="true"
          [tick-interval]="1" [(ngModel)]="userInput.x" [vertical]="false" (ngModelChange)="saveInput('translateX')">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="example-h2">Y:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="this.height" [min]="0" [step]="1" [thumb-label]="true"
          [tick-interval]="1" [(ngModel)]="userInput.y" [vertical]="false" (ngModelChange)="saveInput('translateY')">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="example-h2">Rotation:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="360" [min]="0" [step]="1" [thumb-label]="true"
          [tick-interval]="1" [(ngModel)]="userInput.rotate" [vertical]="false" (ngModelChange)="saveInput('rotate')">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="example-h2">Scale X:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="5" [min]="-5" [step]="0.01" [thumb-label]="true"
          [tick-interval]="0.05" [(ngModel)]="userInput.scaleX" [vertical]="false" (ngModelChange)="saveInput('scaleX')">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="example-h2">Scale Y:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="5" [min]="-5" [step]="0.01" [thumb-label]="true"
          [tick-interval]="0.05" [(ngModel)]="userInput.scaleY" [vertical]="false" (ngModelChange)="saveInput('scaleY')">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>