<div class="geowars-container" (keydown)="captureUserInput($event)">
  <app-renderer #renderer [width]="width" [height]="height"></app-renderer>
  <div class="user-input">
    <button mat-raised-button class="user-input-reset-btn" color="primary" (click)="resetGame()">Reset</button>
    <mat-list>
      <mat-list-item>
        <h2 class="example-h2">Move Speed:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="10" [min]="0" [step]="1" [thumb-label]="true"
          [tick-interval]="1" [(ngModel)]="userInput.playerMoveSpeed" [vertical]="false">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="example-h2">Rotate Speed:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="10" [min]="0" [step]="1" [thumb-label]="true"
          [tick-interval]="1" [(ngModel)]="userInput.playerRotateSpeed" [vertical]="false">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="example-h2"># of Asteroids:</h2>
        <mat-slider class="user-input-slider" [disabled]="false" [invert]="false" [max]="100" [min]="0" [step]="1" [thumb-label]="true"
          [tick-interval]="1" [(ngModel)]="userInput.numAsteroids" [vertical]="false">
        </mat-slider>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

</div>